body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------ NavBar ------ */
.navBar{
  background-color: #2F7DE3;
  height: 50px;
  display: flex;
  align-items: center;  
  width: 100%;  
  /* border: 1px solid red; */
}

.contenedorBtns {
  
  /* border: 1px solid red; */
  display: flex;

}
@media(max-width:600px) {
  .contenedorBtns {
  display: none;
    /* border: 1px solid red; */
    /* background-color: aqua; */
    /* display: flex; */
    /* flex-direction: column; */
  
  } 
  
}


.contenedorLogin{
  position: absolute;
  right: 10px;
  /* border: 1px solid black; */
  width: 250px;  
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  /* justify-content: center; */
}

/* ------ Fin NavBar ------ */

/* ------ Login ------ */
.btns{
  color: white !important;
  text-transform: capitalize !important;
  height: 35px;
}

.txt{
  /* border: 1px solid green; */
  justify-content: flex-start;
  color: white !important;

  /* border: 1px solid red; */
  
}